@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<style>
    body {
        background-color: #f2f2f2;
    }
</style>

<div class="text-center">
    <h1 style="text-align:center;font-family:Times New Roman;">San Francisco- Mobile Food Services</h1>
    <img src="https://assets3.thrillist.com/v1/image/2833651/size/gn-gift_guide_variable_c.jpg" height="250" width="600" />
    <br />
    <h2 style="text-align:center;">Do you have craving for food? Then you are at right place to explore!</h2>
    <p align="justify">
        A Mobile Food Facility is any vehicle or pushcart used in conjunction with a commissary or other permanent food facility 
        upon which food is sold or distributed at retail in a static location. Department of Public Health and San Francisco Fire
        Department continues to enforce public safety regulations, while location permitting was transferred from the Police 
        Department to Public Works.
    </p>
    <p align="justify" >
        Like many major cities across the country, mobile food facilities have become an increasingly significant feature of the 
        streetscape in San Francisco. In order to address this growing trend, the Board of Supervisors adopted ordinance 
        119-13 (Public Works Code, Article 5.8), regulating Mobile Food Facilities in December of 2010, followed by Public
        Works guidelines (Public Works Order No. 179,044), approved February 25, 2011.
    </p>
    <p align="justify">
        On July 28, 2013, the Board of Supervisors amended Public Works Code, Article 5.8 to address various location and noticing 
        requirements concerning mobile food facilities accompanied by Public Works guidelines (Order 182,101). The new legislation 
        streamlines the rules and regulations for mobile food vending, making it assessable and affordable to be a legal street-food 
        vendor in San Francisco.
    </p>
</div>






