@page
@model MobileFoodSchedules.Pages.VendorPermissionsModel
@{
    ViewData["Title"] = "VendorPermissions";
    var mobileFoodPermits = (FoodPermits.MobileFoodPermit[])ViewData["MobileFoodPermits"];
    var mobileFoodSchedules = (FoodSchedules.MobileFoodSchedule[])ViewData["MobileFoodSchedules"];
}

<h1>Vendor Permissions</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Under Development!!</h2>
</div>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Applicant</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FoodPermits.MobileFoodPermit mobileFoodPermit in mobileFoodPermits)
        {
            <tr>
                <td>@mobileFoodPermit.Applicant</td>
                <td>@mobileFoodPermit.Status</td>
            </tr>
        }
    </tbody>
</table>